@mixin font-base {
    padding:0;
    margin:0;
    line-height:0.9;
    font-weight: 600;
  }
  h4{
    @include font-base;
  }
  p{
    @include font-base;
    color:gray;
    font-size: 0.7rem;
  }
  body{
    background-color: eee;
  }
  .container{
    width: 560px;
  /*   height: 100vh; */
    background-color: #fff;
    magrin: 0 auto;
  }
  header, section{
    position: fixed;
    text-align: center;
    width: 560px;
    background-color: #fff;
  }
  section{
    top: 50px;
  }
  .logo{
    width:120px;
  /*   padding: 10px; */
  }
  main{
    padding: 370px 18px 10px ;
  }
  article{
    display:flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 8px
  }
   article:hover{
      border: 2px solid #ff9999;
    }
  .thumb{
    height: 70px;
    border-radius: 4px;
  }
  .details{
    padding: 8px 22px;
  }