{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<div class="container">
    <div class="row"> 
<div class="col-md-8">
<section id="video">

</section>
<main id="testIdChangeLater">
                    
</main>
  <h3>Leave your comments below</h3>

{% for post in posts_data %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file)}}">
    <div class="media-body">
      <div class="article-metadata">
        <!-- <a class="mr-2" href="#">{{ post.title }}</a> -->
        <strong >{{ post.author.username}}</strong> <small class="text-muted">Commented on <p class="article-content">{{ post. date_posted.strftime('%Y-%m-%d') }}</p></small>
      </div>
      <h5><a class="mr-2" href="{{url_for('post', post_id=post.id)}}">{{ post.title }}</a></h5>
      <p class="article-content" >{{ post.content}}</p>
      
    </div>
  </article> 
  {% endfor %}
  </div>
  <div class="col-md-4">
      <div class="content-section">
        <h3>My Music</h3>
        <p class='text-muted'>Filter the music you want.
          <ul class="list-group">
              <li class="list-group-item list-group-item-light">
                  <a class="songs" href="#" data-playlist-id="PL6CTrxW12Bre4kny-OhqOEQwNjso0VKPc">Latest Albums</a>
              </li>
              <li class="list-group-item list-group-item-light">
                  <a class="songs" href="#" data-playlist-id="RDCLAK5uy_kmPRjHDECIcuVwnKsx2Ng7fyNgFKWNJFs">Pop</a>
              </li>
              <li class="list-group-item list-group-item-light"><a class="songs" href="#" data-playlist-id="PLbogV24AcwCAo_dMhmFG6oiPUqSTXWT0a">R&B</a></li>
              <li class="list-group-item list-group-item-light"><a class="songs" href="#" data-playlist-id="PL8F6B0753B2CCA128">Jazz Classics</a></li>
              <li class="list-group-item list-group-item-light"><a class="songs" href="#" data-playlist-id="PLAp5HzjibeIkYpyJMDZB8qCAIlhZLUk7i">Classic Country</a></li>
              <li class="list-group-item list-group-item-light"><a class="songs" href="#" data-playlist-id="PLpoUYdDxb6P56t8lnxnA412k_H5EMHd-8">Modern Rock hits</a></li>
         </ul>
        </p>
      </div>
    </div>
    </div>
    </div>
    
{% endblock %}